@font-face {
  font-family: "MADE Dillan";
  src: url("/MADE_Dillan.otf");
  font-weight: 900;
}

@tailwind base;
h1,
h2,
h3,
a {
  font-family: "MADE Dillan", cursive;
  line-height: 1;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

@tailwind components;

@tailwind utilities;

.h2 {
  @apply text-center text-blue-900 mb-8;
}
